.content {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden auto;
    height: calc(100% - 40px);
}

.btn {
    float: right;
}

.title {
    font-size: 18px;
    margin-bottom: 12px;
}