body {
    margin: 0;
}

.sports-icon {
    width: 22px;
    height: 22px;
    background: url(../../public/images/sports.png) no-repeat center;
    background-size: 100%;
}

.marketplace-icon {
    width: 22px;
    height: 22px;
    background: url(../../public/images/marketplace.png) no-repeat center;
    background-size: 100%;
}

.job-icon {
    width: 22px;
    height: 22px;
    background: url(../../public/images/job.png) no-repeat center;
    background-size: 100%;
}

.rentalmarket-icon {
    width: 22px;
    height: 22px;
    background: url(../../public/images/rentalmarket.png) no-repeat center;
    background-size: 100%;
}