.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    float: left;
    width: 160px;
    height: 100%;
    background: url(../../../public/images/logo.png) no-repeat 0 50%;
    background-size: 60%;
}

.user {
    float: right;
    font-size: 14px;
    height: 40px;
}

.innerSection {
    height: calc(100vh - 64px);
}

.content {
    height: 100%;
    margin: 10px;
    overflow: auto;
}

.footer {
    /* border-top-width: 1px;
    border-color: #fafafa; */
    padding: 0px 0px;
}

.footer .menu {
    display: block;
    float: right;
    text-align: center;
}

.footer .menu .title {
    margin: 5px 0;
    font-size: 10px;
    font-weight: 600;
}

.footer .menu a {
    display: flex;
    font-size: 8px;
    text-align: center;
    color: black;
}

.footer .menu a img {
    width: 12px;
    height: 12px;
    margin: 0 2px;
}