.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    float: left;
    width: 160px;
    height: 100%;
    background: url(../../../public/logo.png) no-repeat 0 50%;
    background-size: 60%;
}

.user {
    float: right;
    font-size: 14px;
    height: 40px;
}

.innerSection {
    height: calc(100vh - 64px);
}

.contentSection {
    padding: 32px 0px 0px 0px;
}

.content {
    margin: 0px 10px;
    border-radius: 8px;
    background-color: white;
}

.footer {
    /* border-top-width: 1px;
    border-color: #fafafa; */
    padding: 0px 0px;
}

.footer .menu {
    display: block;
    float: right;
    text-align: center;
}

.footer .menu .title {
    font-size: 10px;
    font-weight: 600;
}

.footer .menu a {
    font-size: 8px;
    color: black;
}